// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: #66b032;
// $secondary: #b2d732;
// $accent: #347b98;

// $dark: #092834;
// $dark-page: #121212;

// $positive: #F0F7D4;
// $negative: #c10015;
// $info: #31ccec;
// $warning: #f2c037;

$primary: #1b3860;
$secondary: #e2d9cf;
$accent: #b22222;
$positive: #f7f2d4;
$dark: #091d34;

// $primary: #3f778d;
// $secondary: #cd972d;
// $accent: #b82214;
// $positive: #ece2cc;
// $dark: #091d34;
// peach fuzz: 	#F87C56;
